body {
  font: 16pt Frutiger sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
}

h2 {
  text-align: center;
  font-size: 1.4rem;
}

h3 {
  padding-top: 1.2rem;
  text-align: center;
  font-size: 1.2rem;
}

#graph {
}

#panel {
}

fieldset {
  border: solid black 1px;
  margin: 1rem 0;
  padding: 1rem;
}

.slider.vertical {
  height: 8rem;
}

label {
  text-align: center;
}

.patch {
  height: 3rem;
  background-color: gray;
  border: dashed black 1px;
}

.callout {
  border: solid black 1px;
}

p {
  font-size: 1rem;
}
